<!DOCTYPE html>
<html>
  <head>
      <title>About us</title>
      <link rel="stylesheet" href="{{url_for('.static', filename='general.css')}}">
  </head>

  <div class="topnav">
     <a class="active" href="{{ url_for('home') }}">Home</a>
     <a href="{{ url_for('detector') }}">Fake News Detector</a>
     
  </div>

  <body>
    <h1>Welcome to FactCheck!</h1>
    <h2>Have you ever seen a news article that looked fake but never had the means to prove it? Well now you can with FactCheck! This website uses a machine learner that has been trained on over 40000 news articles to detect if your article is reliable or not, and help you to determine how much trust you should place in it. Try FactCheck today!</h2>
    <img src = "https://image.cnbcfm.com/api/v1/image/104343217-Fake_news._GettyImages-645357576.jpg?v=1561442287" style = "max-width:50%">
    
    
    




  </body>
</html>
